# This is a basic workflow to help you get started with Actions

name: Publish latest

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [ master ]

concurrency:
  group: master

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  expo-publish-latest:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - uses: cardinalby/export-env-action@v2
        with:
          envFile: .env.github

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ env.BUN_VERSION }}

      - name: Install dependencies (example-expo)
        run: bun install --frozen-lockfile
        working-directory: example-expo
      
      - name: Install dependencies (example)
        run: bun install --frozen-lockfile
        working-directory: example

      - name: Expo GitHub Action
        uses: expo/expo-github-action@v8
        with:
          # Your Expo username, for authentication.
          token: ${{ secrets.EXPO_TOKEN }}
          expo-version: latest
          eas-version: latest
          # If Expo should be stored in the GitHub Actions cache (can be true or false)
          expo-cache: true # optional

      - name: Find Metro cache
        id: metro-cache-dir-path
        uses: actions/github-script@v7
        with:
          result-encoding: string
          script: |
            const os = require('os');
            const path = require('path');
            return path.join(os.tmpdir(), 'metro-cache');

      - name: Restore Metro cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.metro-cache-dir-path.outputs.result }}
          key: ${{ runner.os }}-metro-cache-${{ matrix.app }}-${{ github.ref }}
          restore-keys: |
            ${{ runner.os }}-metro-cache-${{ matrix.app }}-${{ github.base_ref }}
            ${{ runner.os }}-metro-cache-${{ matrix.app }}-

      # Runs a set of commands using the runners shell
      - name: Publish
        run: bunx eas-cli@latest update --branch=master --auto -p=ios --json --non-interactive
        working-directory: example-expo